.expanded-toolbar {
    justify-content: space-between;
    align-items: center;
  }
  .login-box{
    margin: auto;
    margin-top: 10%;
    width: 30%;
}
button{
    display: block;
    width: 100%;
  }

