<mat-toolbar color="primary" class="expanded-toolbar">
  <span>Register To Job Portal</span>
</mat-toolbar>

<h2 class="text-center py-3">Welcome to Job Portal, Register here</h2>

<mat-card class="login-box">
  <mat-card-content>
    <button class="m-2" (click)="onJobSeekerRegister()" color="primary" mat-raised-button>Register As Job Seeker</button>
    <button class="m-2" (click)="onRecruiterRegister()" color="primary" mat-raised-button>Register As Recruiter</button>
  </mat-card-content>
</mat-card>
